.spacer {
    height:300px;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.smallinput {
    width:100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424242;
}

li:hover {
    background-color: #000000;
}

.right {
    text-align: right;
}

.rightheader {
    float: right;
}

.delete {
    background-color: red;
}

.signout {
    background-color: #72ba85;
}

.header button {
    all: unset;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: none;
}

.left {
    border: 3px solid white;
}

.left button {
    float: left;
    background-color: #424242;
}

.left button:focus {
    background-color: #000000;
}

.header button:hover {
    background-color: #000000;
    transition: 0.4s;
}

.search {
    position: absolute;
    right: 0px;
    margin: 50px 125px;
    padding-left: 10px;
    padding-right: 55px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 2vh;
}

.graph {
    position: absolute;
    top: 20%;
    left: 13%;
    font-size: 0;

}

.verticalhorizontal {
    position: relative;
    max-width: 100%;
    max-height: 100%;

}

.changegraph button {
    all: unset;
    font-size: 12px;
    position: relative;
    bottom: 0px;
    right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12.5vh;
    padding-right: 12.5vh;
    background-color: #424242;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.changegraph button:hover {
    background-color: #72ba85;
    transition: 0.4s;
}

.changegraph button:focus {
    background-color: #72ba85;
}

.stockimage {
    height: 500px;
}

.infolink {
    position:absolute;
    top: 90%;
    left: 45%;
}

