.spacer {
    height:300px;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.smallinput {
    width:100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424242;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
}

li:hover {
    background-color: #000000;
    transition: 0.6s;
}

.search{
    position: absolute;
    right: 0px;
    margin: 50px 125px;
    padding-left: 10px;
    padding-right: 55px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 2vh;
}
